.empty-none:empty{
    display: none;
}
a,
.transition,
.kng-transition,
h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6,
.kng-swiper-dots button,
img{
    @include transition();
}
.kng-transition-1{
    @include transition(all 300ms linear 0s);
}
.kng-transition-2{
    @include transition(all 300ms linear 0.05s);
}
.hr--small{
    margin: 20px auto;
    width: 50px;
    border-width: 3px;  
    border-style: solid;
    border-color: $primary_color;
    clear: both;
    border-top: 0;
}  
.hr--large{
    margin: 60px auto;
    border-width: 3px 0 0 0;
    width: 50px;
    border-color: $primary_color;
    clear: both;
}
.underline,
a.underline,
.elementor a.underline{
    text-decoration: underline;
} 
.kng-page-overlay{
    position: fixed;
    z-index: 603;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background: #{'rgba(var(--second-color-rgb),0.8)'};
    opacity: 0;
    @include transition(opacity .45s cubic-bezier(.25,.46,.45,.94));
}
.h-100{
    height: 100%;
    >.elementor-widget-container{
        height: 100%;
    }
}
.round,
.kng-rounded{
    @include border-radius(50%);
}
.kng-loader {
    background: #fff;
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 999999;
    top: 0;
    left: 0;
    @include transition();
    &.style-1{
        .loading-spinner {
            margin: -45px auto 0 auto;
            width: 90px;
            height: 90px;
            top: 50%;
            position: relative;
            text-align: center;
            -webkit-animation: loadershake infinite 2s linear;
            animation: loadershake infinite 2s linear;
        }
    }
    &.style-2{
        .loading-spinner {
            margin: -20px auto 0 auto;
            width: 40px;
            height: 40px;
            top: 50%;
            position: relative;
            text-align: center; 
            -webkit-animation: sk-rotate 2.0s infinite linear;
            animation: sk-rotate 2.0s infinite linear;
        }
        .loading-dot1, .loading-dot2 {
            width: 60%;
            height: 60%;
            display: inline-block;
            position: absolute;
            top: 0;
            background-color: $primary_color;
            border-radius: 100%;
            -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
            animation: sk-bounce 2.0s infinite ease-in-out;
        }

        .loading-dot2 {
            top: auto;
            bottom: 0;
            -webkit-animation-delay: -1.0s;
            animation-delay: -1.0s;
        }
    }
    
} 
.kng-loading{
    cursor: wait;
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    &:before{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        content: '';
        display: block;
        background: rgba(255,255,255,0.3);
    }

    &:after{
        z-index: 2;
        position: absolute;
        top: 45%;
        left: 50%;
        content: "\f110";
        font-family: $font_awesome;
        font-size: 50px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        margin: -25px 0 0 -25px;
        color: #fff;
        @include animation('spin 1s infinite linear')
    } 
}

.wow.case-fade-in-up {
    @include transform(translateY(80px));
    @include transition(.4s cubic-bezier(.24,.74,.58,1));
    &.animated {
        @include transform(translateY(0px));
    }
}

.item-featured img {
    width: 100%;
    @include transition(all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) 0s);
}

.row{
    &.no-padding{
        margin-left: 0;
        margin-right: 0;
        >*{
            padding-left: 0;
            padding-right: 0;
        }
    }
}
.zoom-reverse{
    -webkit-animation:kng_zoom_reverse;
    -o-animation:kng_zoom_reverse;
    animation:kng_zoom_reverse;
    -webkit-animation-duration:0.5s!important;
    -moz-animation-duration:0.5s!important;
    -o-animation-duration:0.5s!important;
    animation-duration:0.5s!important 
}
@media (min-width: $xxl_min){
    .col-xxl-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        padding-left: 15px;
        padding-right: 15px;
    }
}
.kng-heading{
    color: $heading_color;
    font-weight: $heading_font_weight;
    margin-top: 0;
}
.heading-font-family{
    font-family: $heading_font_family;
} 
 
.invisible{
    visibility: hidden;
    opacity: 0;
}
 
.kng-anim-swing{
    @include animation(swing 2s linear infinite);
}
.kng-anim-bounce{
    @include animation(bounce 2s linear infinite);
}
.kng-anim-bounceIn{
    @include animation(bounceIn 2s linear infinite);
}
.kng-anim-bounceInLeft{
    @include animation(bounceInLeft 2s linear infinite);
}
.kng-anim-bounceInRight{
    @include animation(bounceInRight 2s linear infinite);
}
.kng-anim-bounceInUp{
    @include animation(bounceInUp 2s linear infinite);
}
.kng-anim-bounceInDown{
    @include animation(bounceInDown 2s linear infinite);
}

.hidden{
    display: none;
}
// Background size
.bg-cover{
    background-size: cover;
}
 
.uppercase{
    text-transform: uppercase;
}
// Opacity

// Overlay 
.parallax-overlay{
    @include overlay-pos();
}
 
// Positioned
.center-align{
    @include center-align();
}

.link-white {
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    a {
        color: $primary_color;
        &:hover {
            color: #fff;
        }
    }
}
.text-primary{
    color:$primary_color;
}
a.text-primary:focus,
a.text-primary:hover{
    color:$primary_color;
}
.text-secondary{
    color:$second_color;
}
a.text-secondary:focus,
a.text-secondary:hover{
    color:$second_color;
}
.text-block {
    font-size: 15px;
    line-height: 23px;
}
.text-heading{
    color: $heading_color;
}
.text-gray{
    color: $gray;
}
.text-uppercase{
    text-transform: uppercase;
}
.z-index99 {
    z-index: 99;
    position: relative;
}

.z-index0 {
    z-index: 0;
    position: relative;
}
.z-index-1 {
    position: relative;
    z-index: 1;
}

.z-index-top {
    z-index: 888;
    position: relative;
}

.mobile-order-top{
    @media (max-width:$sm_max) {
        order: -1;
    }
}
.kng-round{
    @include border-radius(50%);
}
.d-flex{
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    flex-wrap: wrap; 
}
.d-flex-align-justify-center{
    @include d-flex-align-justify-center();
}
.flex-box{
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center;
}
.font-smooth{
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.d-table {
    display: table;
}
.d-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.hover-primary{
    &:hover{
        color: $primary_color !important;
    }
}
.scale-hover{
    overflow: hidden;
    img{
        @include transition(all 0.8s ease);
    }
    &:hover{
        img{
            @include scale-image();
        }
    }
}

.hover-underline-in{
    position: relative;
    &:after{
        position: absolute;
        content: "";
        border-bottom: 1px solid transparent;
        display: inline-block;
        height: 1px;
        width: 100%;
        top: 1.15em;
        left: 0;
        transition: all 300ms linear 0s;
    }
    &:hover{
        &:after{
            border-color: inherit;
        }
    }
}
.hover-underline-out{
    position: relative;
    &:after{
        position: absolute;
        content: "";
        border-bottom: 1px solid;
        display: inline-block;
        height: 1px;
        width: 100%;
        top: 1.15em;
        left: 0;
        transition: all 300ms linear 0s;
    }
    &:hover{
        &:after{
            border-color: transparent;
        }
    }
}

.circle-image{
    img{
        border-radius: 50% !important;
    }
}
.screen-reader-text {
    display: none;
}

#content[tabindex="-1"]:focus {
    outline: 0;
}

 
.bg-overlay {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: inherit;
        display: block;
    }
}
 
.site-overlay {
    position: fixed;
    z-index: -1;
    background-color: 'rgba(0,0,0,0.5)';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    @include transition(all 0.25s cubic-bezier(0.39, 0.575, 0.565, 1) 0s);
    cursor: url(../images/pointer.png), auto;
    &.open {
        z-index: 9990;
        opacity: 1;
        visibility: visible;
    }
}

.row-visible {
    overflow: visible !important;
}

.inline-block {
    display: inline-block;
    vertical-align: middle;
}

.text-right, .align-right {
  text-align: right;
}

.text-left, .align-left {
  text-align: left;
}

.text-center, .align-center {
  text-align: center;
}
.align-justified{
    width: 100%;
}
.h-main {
    font-weight: 700;
}

.img-cover{
    object-fit: cover;
}

.style-none {
    list-style: none;
    margin: 0;
}
.line-gap {
    background-color: #ebebea;
    height: 1px;
    margin-left: 15px;
    width: calc(100% - 30px);
    width: -webkit-calc(100% - 30px);
    width: -ms-calc(100% - 30px);
    width: -o-calc(100% - 30px);
}
#secondary .count.right {
    float: right;
}

.link-text{
    transition: all 300ms linear 0s;
    &:hover{
        color: $primary_color !important;;
        border-color: $primary_color !important;
    }
}
 
@media (min-width:$lg_min) { 
    .text-left-lg {
        text-align: left !important;
    }
    .text-center-lg {
        text-align: center !important;
    }
    .text-right-lg {
        text-align: right !important;
    }   
}
@media (max-width:$lg_max) {
    .align-center-md {
        text-align: center;
    }
    .align-left-md {
        text-align: left;
    }
    .align-right-md {
        text-align: right;
    }
    .align-justified-md{
        width: 100%;
    }
}
@media (max-width:$md_max) {
    .text-center-md {
        text-align: center !important;
    }
    .text-left-md {
        text-align: left !important;
    }
    .text-right-md {
        text-align: right !important;
    }
    .align-center-sm {
        text-align: center;
    }
    .align-left-sm {
        text-align: left;
    }
    .align-right-sm {
        text-align: right;
    }
    .align-justified-sm{
        width: 100%;
    }
}
@media (max-width:$sm_max) {
    .text-center-sm {
        text-align: center !important;
    }
    .text-left-sm {
        text-align: left !important;
    }
    .text-right-sm {
        text-align: right !important;
    }
    .align-center-xs {
        text-align: center;
    }
    .align-left-xs {
        text-align: left;
    }
    .align-right-xs {
        text-align: right;
    }
    .align-justified-xs{
        width: 100%;
    }
    .sm-no-box-shadow .elementor-column-wrap{
        box-shadow: none !important;
    }
}
@media screen and (max-width: 1279px){
    .responsive-hide{
        display: none;
    }
}

// Elementor Extra Class
@media (min-width:$md_min) {
    .column-wrap-border{
        border-left: 1px solid 'rgba(#fff, 0.2)';
        border-right: 1px solid 'rgba(#fff, 0.2)';
    }
}

@keyframes jump {
    0%   {transform: translateY(0)}
    50%  {transform: translateY(7px)}
    100%   {transform: translateY(0)}
}
.image-jump{
    -webkit-animation: jump 2s  ease-in-out alternate;
    -moz-animation: jump 2s  ease-in-out alternate;
    animation: jump 2s  ease-in-out alternate;
    animation-iteration-count: infinite;
    animation-delay: 6s;
    position:relative;
}

.small-spacing{
    letter-spacing: 0.01em !important;
}

.border-shadow{
    .elementor-image{
        position: relative;
        &:after{
            content: '';
            position: absolute;
            display: block;
            top: -45px;
            left: 35%;
            right: -45px;
            bottom: 60px;
            background-image: url(../images/image-pattern.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
        img{
            position: relative;
            z-index: 1;
        }
    }
}
.link-overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    @include transition();
}
.overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    @include transition();  
}
.overlay-wrap{
    .relative{
        overflow: hidden;
    }
    .overlay{
        @media (min-width:$xl_min){
            @include transform(scale(0.8));
            opacity: 0;
            visibility: hidden;
        }
    }
    &:hover{
        .overlay{
            visibility: visible;
            @include opacity(1);
            @include transform(scale(1));
        }
    }
}
/* badge */ 
.kng-badge-1{
    height: 65px;
    min-width: 60px;
    position: relative;
    background-color: $second_color;
    color: $white;
    padding: 0 10px;
    overflow: hidden;
    @include border-radius(4px 0 0 4px);
    [dir="rtl"] &{
        @include border-radius(0 4px 4px 0);
    }
    &:before,
    &:after{
        content: '';
        display: block;
        position: absolute;
    }
    &:after{
        height: 5px;
        width: 100%;
        background: $white;
        left: 5px;
        bottom: 0;
        [dir="rtl"] &{
            left: auto;
            right: 5px;
        }
    }
}
.kng-badge-2{
    position: relative;
    &:after{
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 35px 0 35px;
        border-color: $second_color transparent transparent transparent;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -10px;
    }
}
.kng-badge-3{
    color: $white;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    padding: 5px 9px 14px;
    position: relative;
    overflow: hidden;
    max-width: 46px;
    &:not(.badge-svg){
        background-color: $primary_color;
        &:after{
            content: '';
            background: white;
            position: absolute;
            left: 0;
            right: 0;
            height: 22px;
            top: calc(100% - 10px);
            border-radius: 50% 50% 0 0;
        }
    }
    &.badge-svg{
        > svg{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 50%;
            fill: $primary_color;
            height: 100%;
            @include transform(translateX(-50%));
        }
    }
}
.kng-badge-4{
    position: relative;
    &:after{
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 35px 0 35px;
        border-color: $white transparent transparent transparent;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -10px;
    }
}
.kng-ribbon {
  position: absolute;
  right: -7px; 
  top: -7px;
  z-index: 2;
  overflow: hidden;
  width: 125px; 
  height: 125px;
  text-align: right;
  .main {
        font-weight: 700;
        color: $white;
        text-transform: uppercase;
        text-align: center;
        line-height: 35px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        width: 164px;
        display: block;
        border-color: $secondary-color;
        position: absolute;
        top: 31px; 
        right: -34px;
        .before {
            content: "";
            position: absolute; left: 0px; top: 100%;
            z-index: -1;
            border-left-width: 3px;
            border-left-style: solid;
            border-right: 3px solid transparent;
            border-bottom: 3px solid transparent;
            border-top-width: 3px;
            border-top-style: solid;
        }
        .after {
            content: "";
            position: absolute; right: 0px; top: 100%;
            z-index: -1;
            border-left: 3px solid transparent;
            border-right-width: 3px;
            border-right-style: solid;
            border-bottom: 3px solid transparent;
            border-top-width: 3px;
            border-top-style: solid;
        }
    }
}

/* border  */
.circle,
.kng-circle,
.elementor img.circle{
    @include border-radius(50%);
}

.bdr-main{
    border-color: $border_color;
}

/* classes */
.kng-img{
    @include transition();
    .kng-hover-img-scale:hover &{
        @include transform(scale(1.1));
    }
}
.z-ontop,
.z-top{
    z-index: 2;
}
.kng-link-overlay{
    > a{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}
.kng-invisible{
    visibility: hidden;
}
.kng-rating-star:before{
    content: "\e949\e949\e949\e949\e949";
    letter-spacing: 4px;
}
[data-elementor-open-lightbox="yes"]{
    cursor: pointer;
}

/* gradient  */
.kng-bg-gradient-1,
.kng-overlay-gradient-1 > .kng-overlay-gradient,
.kng-bg-gradient-2,
.kng-overlay-gradient-2 > .kng-overlay-gradient{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}
.kng-bg-gradient-1,
.kng-overlay-gradient-1 > .kng-overlay-gradient{
    background: rgba($second_color_hex, 0.5);
    &:before{
        background: -webkit-linear-gradient(top, rgb(2, 28, 55) 0%, rgb(5, 28, 51) 14%, rgba(17, 27, 37, 0.1) 62%, rgba(27, 26, 26, 0) 100%);
        background: -o-linear-gradient(top, rgb(2, 28, 55) 0%, rgb(5, 28, 51) 14%, rgba(17, 27, 37, 0.1) 62%, rgba(27, 26, 26, 0) 100%);
        background: -ms-linear-gradient(top, rgb(2, 28, 55) 0%, rgb(5, 28, 51) 14%, rgba(17, 27, 37, 0.1) 62%, rgba(27, 26, 26, 0) 100%);
        background: -moz-linear-gradient(top, rgb(2, 28, 55) 0%, rgb(5, 28, 51) 14%, rgba(17, 27, 37, 0.1) 62%, rgba(27, 26, 26, 0) 100%);
        background: linear-gradient(to bottom, rgb(2, 28, 55) 0%, rgb(5, 28, 51) 14%, rgba(17, 27, 37, 0.1) 62%, rgba(27, 26, 26, 0) 100%);
        @include opacity(0.5);
    }
}
.kng-bg-gradient-2,
.kng-overlay-gradient-2 > .kng-overlay-gradient{
    @include opacity(0.25);
    background: rgba($second_color_hex, 1);
    &:before{
        background: -webkit-linear-gradient(top, rgb(2, 28, 55) 0%, rgb(5, 28, 51) 14%, rgba(17, 27, 37, 0.1) 62%, rgba(27, 26, 26, 0) 100%);
        background: -o-linear-gradient(top, rgb(2, 28, 55) 0%, rgb(5, 28, 51) 14%, rgba(17, 27, 37, 0.1) 62%, rgba(27, 26, 26, 0) 100%);
        background: -ms-linear-gradient(top, rgb(2, 28, 55) 0%, rgb(5, 28, 51) 14%, rgba(17, 27, 37, 0.1) 62%, rgba(27, 26, 26, 0) 100%);
        background: -moz-linear-gradient(top, rgb(2, 28, 55) 0%, rgb(5, 28, 51) 14%, rgba(17, 27, 37, 0.1) 62%, rgba(27, 26, 26, 0) 100%);
        background: linear-gradient(to bottom, rgb(2, 28, 55) 0%, rgb(5, 28, 51) 14%, rgba(17, 27, 37, 0.1) 62%, rgba(27, 26, 26, 0) 100%);
    }
}

/* hovers */
.hover-border {
    @include transition(color 0.25s);
    &:before,
    &:after{
        border: 3px solid transparent;
        width: 0;
        height: 0;
    }
    &:before {
        top: 0;
        left: 0;
    }
    &:after {
        bottom: 0;
        right: 0;
    }
    &:hover{
        &:before,
        &:after{
            width: 100%;
            height: 100%;
            display: block;
        }
        &:before{
            border-top-color: $second_color;
            border-right-color: $second_color;
            @include transition(width 0.25s ease-out, height 0.25s ease-out 0.25s);
        }
        &:after{
            border-bottom-color: $second_color;
            border-left-color: $second_color;
            @include transition(border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s);
        }
    }
}
.hover-border-outer {
    position: relative;
    z-index: 1;
    height: 100%;
    display: block;
    &:before,
    &:after {
        box-sizing: inherit;
        content: '';
        position: absolute;
        z-index: -1;
        display: block;
    }
}

.kng-hover-show-more-text-wrap{
    .kng-hover-show-more-text{
        overflow: hidden;
        .kng-btn-text{
            @include transform(translateX(-150%));
            @include transition();
        }
    }
    &:hover{
        .kng-btn-text{
            @include transform(translateX(0));
        }
    }
}
.kng-img-hover{
    .kng-img{
        @include opacity(0.5);
        &:hover{
            @include opacity(1);
        }
    }
}

/* icons */
.kng-icon{
    line-height:1;
}

/* modal */
.kng-modal-html{
    visibility: hidden;
    @include opacity(0);
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include transform(scale(0));
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:center;
    background: #{'rgba(var(--second-color-rgb),0.95)'};
    &.open{
        visibility: visible;
        @include opacity(1);
        z-index: 999;
        @include transform(scale(1));
    }
}
.kng-modal-close{
    border-radius: 50%;
    background: #E4E6EB;
    border: 9px solid transparent;
    color: $heading_color;
    width: 36px;
    height: 36px;
    position: absolute;
    left: auto;
    right: 40px;
    top: 40px;
    @media (max-width: $sm_max){
        width: 30px;
        height: 30px;
        border-width: 8px;
    }
    &:before,
    &:after{
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        top: 50%;
        left: 0;
        margin-top: -1px;
        background-color: $heading_color;
        transform-origin: 50% 50%;
        opacity: 1;
        @include transition(transform ease 0.25s);
    }
    &:before{
        @include transform(rotate(45deg));
    }
    &:after{
        @include transform(rotate(-45deg));
    }
    &:hover{
        &:before,
        &:after{
            @include transform(rotate(0deg));
        }
    }
    [dir="rtl"] &{
        right: auto;
        left: 40px;
    }
}

/* overlay */
@mixin kng-show-overlay(){
    visibility: visible;
    @include opacity(1);
}
.kng-overlay-wrap{
    position: relative;
    /* overflow: hidden; */
    outline: none;
    img{
        @include transition();
    }
    .kng-overlay-content{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
        visibility: hidden;
        @include opacity(0);
        @include transition();
        /* &:not([class*="bg-"]){
            background: #{'rgba(var(--primary-color-rgb), 0.7)'};
        } */
    }
    .kng-bottom-to-top{
        @include transform(translateY(100%));
    }
    &:hover{
        img{
            @include transform(scale(1.1));
        }
        .kng-overlay-content{
            @include kng-show-overlay();
        }
        .kng-bottom-to-top{
            @include transform(translateY(0));
        }
    }
    @media (max-width: $md_max){
        .kng-overlay-content{
            @include kng-show-overlay();
        }
        .kng-bottom-to-top{
            @include transform(translateY(0));
        }
    }
    &.kng-overlay-bottom-to-top{
        &:before{
            height: 0;
        }
        &:hover{
            &:before{
                height: calc(100% - 20px);
            }
        }
    }
    &.kng-overlay-slideup{
        .kng-overlay-content{
            color: $white;
            background: rgba(0,0,0,0.8);
            @include transition(all 500ms linear);
            @include transform(translateY(100%));
            .entry-title{
                color: $second_color;
                &:hover{
                    color: $white;
                    a{
                        color: inherit;
                    }
                }
            }
        }
        &:hover{
            .kng-overlay-content{
                @include transform(translateY(0));
            }
        }
    }
    &.kng-overlay-zoom-in{
        .kng-overlay-content{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba($primary_color_hex,0.4);
            @include transform(scale(0));
        }
    }
    &.kng-overlay-center-to-side{
        .kng-overlay-content{
            left: 50%;
            right: 50%;
            background: rgba($primary_color_hex,0.4);
        }
    }
    &:hover{
        &.kng-overlay-zoom-in{
            .kng-overlay-content{
                @include transform(scale(1));
            }
        }
        &.kng-overlay-center-to-side{
            .kng-overlay-content{
                left: 0;
                right: 0;
            }
        }
    }
}

.kng-overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.bg-cover{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* positions */
.relative{
    position: relative !important;
}
.absolute{
    position: absolute;
    z-index: 1;
}
.absolute-vertical{
    top: 50%;
    @include transform(translateY(-50%));
}
@media (max-width: $xs_max){
    .xs-relative {
        position: relative;
    }
}
 
body .mfp-bg{
    background-color: #000;
}
.mfp-wrap{
    .mfp-container{
        .mfp-content{

        }
        button.mfp-arrow{
            background-color: transparent;
            width: 45px;
            height: 45px;
            background-size: 30px;
            background-position: 50%;
            background-repeat: no-repeat;
            background-image: url(../images/svg/arrow1.svg);
            &.mfp-arrow-left{
                @include transform(rotate(180deg));
                left: 50px;
            }
            &.mfp-arrow-right{
                right: 50px;
            }
            &:before,
            &:after{
                content: none;
            }
        }   
    }
    button.mfp-close{
        width: 60px;
        height: 60px;
        background-color: $primary_color;
        font-size: 0;
        opacity: 1;
        @include transition(all 300ms ease-in-out);
        &:hover{
            background-color: rgba($primary_color,0.8);
        }
        &:before,&:after{
            content: "";
            background-color: #fff;
            display: block;
            height: 2px;
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            width: 28px;
            top: 21px;
            @include transition(all 300ms ease-in-out);
        }
        &:before{
            width: 33px;
            top: 28px;
            left: 0px;
            @include transform(rotate(45deg));
            filter: progid:DXImageTransform.Microsoft.Matrix(M11=0, M12=0, M21=0, M22=0, sizingMethod='auto expand');
            zoom: 1;
        }
        &:after{
            width: 33px;
            top: 28px;
            left: 0px;
            @include transform(rotate(-45deg));
            filter: progid:DXImageTransform.Microsoft.Matrix(M11=0, M12=0, M21=0, M22=0, sizingMethod='auto expand');
            zoom: 1;
        }
    }
    .mfp-figure:after, .mfp-iframe-scaler iframe{
        box-shadow: none;
    }
    .mfp-bottom-bar{
        display: none;
    }
}

.shape-animate1 {
    animation: animationFramesTwo 12s infinite linear alternate;
}
.shape-animate2 {
    animation: animationFramesOne 12s infinite linear alternate;
}
.shape-animate3 {
    animation: animationFramesFour 12s infinite linear alternate;
}
.shape-animate4 {
    animation: animationFramesThree 12s infinite linear alternate;
}
.shape-animate5 {
    animation: animationFramesFive 12s infinite linear alternate;
} 

body.st-body-no-scroll{
    top: auto !important;
    bottom: auto !important;
    position: static !important;
}