.kng-main {
    padding-top: 120px;
    padding-bottom: 120px;
    @media (max-width: $lg_max){
        padding-top: 100px;
        padding-bottom: 100px;
    }    
}
// .single-service{
//     .kng-main{
//         padding: 0;
//     }
// }
// @media (min-width: $xxl_min){
//     .blog-classic .kng-content-row{
//         margin-left: -50px;
//         margin-right: -50px;
//         >div{
//             padding-left: 50px;
//             padding-right: 50px;    
//         }
//     }
//     .single-post .kng-content-row{
//         margin-left: -50px;
//         margin-right: -50px;
//         >div{
//             padding-left: 50px;
//             padding-right: 50px;    
//         }
//     }
// }

.kng-sidebar-area{
    @media (max-width: $md_max){
        margin-top: 100px;  
    }
}

.kng-post-archive + .kng-post-archive{
	margin-top: 60px;
}
.kng-post-title .kngi-thumbtack{
    font-size: 22px;
    margin-right: 11px;
}
.kng-post-archive{
    .kng-featured-wrap{
        position: relative;
    }
    .kng-post-meta{
        margin-bottom: 16px;
        font-size: 15px;
        // font-weight: 500;
        .kng-post-author{
            .avatar{
                margin-right: 12px;
                @media (max-width:$xs_screen){
                    width: 30px;
                }
            }
        }
    } 
    .kng-post-meta{
        padding-top: 35px;
        margin-bottom: 16px;
        font-size: 14px;
        position: relative;
        // font-weight: 500;
        .kng-post-author{
            text-transform: capitalize; 
        }
        // @media (max-width: $sm_max){
        //     .kng-post-share{
        //         display: none;
        //     }
        // }
        // @media (max-width: $xs_max){
        //     .kng-post-cmt,
        //     .kng-post-share{
        //         display: none;
        //     }
        // }
        .kng-post-cat{
            position: absolute;
            right: 20px;
            top: -15px;
            background-color: $primary_color;
            color: white;
            // font-weight: 600;
            font-size: 14px;
            font-family: 'poppins';
            a{
                &:hover{
                    color: white;
                }
            }
        }
    }
    .kng-post-content{
        padding: 0px 34px 10px 34px;
        @include box-shadow(10px 0 60px #{'rgba(var(--second-color-rgb),0.06)'});
        @media (max-width:$sm_max){
            padding: 0px 30px 10px 30px;
        }
        @media (max-width:$xs_screen){
            padding: 0px 15px 10px 15px;
        }
        .navigation{
            padding-top: 0;
        }
    } 
    .kng-post-title{
        margin-bottom: 10px;
    }
    &.tag-sticky-2:not(.sticky){
        .kngi-thumbtack{
            display: none;
        }
    }
    .kng-post-excerpt{
        font-size: 17px;
        line-height: 30px;
        font-weight: 400;
        color: #777777;
    }
    // .kng-meta-bottom{
    //     margin-bottom: 0;
    //     padding-top: 17px;
    //     padding-bottom: 16px;
    //     border-top: 2px solid #{'rgba(var(--second-color-rgb),0.07)'};
    //     position: relative;
    //     .kng-post-share{
    //         position: absolute;
    //         right: 0;
    //         padding: 0;
    //     }
    //     @media (max-width: $xs_screen){
    //         .kng-post-share{
    //             display: none;
    //         }
    //     }
    // }
    .kng-post-meta-inner{
        &.row{
            margin-left: -15px;
            margin-right: -15px;
            @media (max-width: $sm_max){
                margin-left: -10px;
                margin-right: -10px;
            }
            >*{
                padding-left: 15px;
                padding-right: 15px;
                @media (max-width: $sm_max){
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
        > span{
            a{
                color: inherit;
                &:hover{
                    color: $link_color_hover;
                }
            }
        }
        .meta-icon{
            margin-right: 2px;
            color: $primary_color;
        }
        .kng-meta-separator{
            display: none;
        }
    }  
    // .kng-post-readmore{
    //     position: absolute;
    //     bottom: -30px;
    //     right: 40px;
    //     .kng-readmore{
    //         height: 60px;
    //         line-height: 60px;
    //         padding: 0;
    //         border: 0;
    //         background-color: transparent;
    //         @include border-radius(30px);
    //         position: relative;
    //         @include transform(translateX(0));
    //         @include transition(all .3s ease);
    //         .kng-btn-content{
    //             background-color: transparent;
    //             @include d-flex();
    //             align-items:center;
    //             @include border-radius(30px);
    //             @include transition(all .3s ease);
    //         }
    //         .kng-btn-icon{
    //             width: 60px;
    //             height: 60px;
    //             line-height: 60px;
    //             display: inline-block;
    //             padding: 0;
    //             border-color: transparent;
    //             background-color: $white;
    //             color: $second_color;
    //             overflow: hidden;
    //             @include border-radius(30px);
    //             @include box-shadow(10px 0 60px #{'rgba(var(--second-color-rgb),0.15)'});
    //             @include transition(all .3s ease);
    //             &:before{
    //                 width: 60px;
    //                 height: 60px;
    //                 line-height: 60px;
    //                 display: inline-block;
    //             }
    //         }
    //         .kng-btn-text{
    //             opacity: 0;
    //             visibility: hidden;
    //             height: 60px;
    //             padding-left: 30px;
    //             color: $second_color; 
    //             @include border-radius(30px);
    //             @include transition(all .3s ease);

    //         }
    //         &:hover{
    //             @include transform(translateX(10px));
    //             @include box-shadow(10px 0 60px #{'rgba(var(--second-color-rgb),0.25)'});
    //             .kng-btn-content{
    //                 background-color: $white;
    //             }
    //             .kng-btn-icon{
    //                 @include box-shadow(none);
    //                 &:before{
    //                     -webkit-animation: toRightFromLeft 0.3s forwards;
    //                     -moz-animation: toRightFromLeft 0.3s forwards;
    //                     animation: toRightFromLeft 0.3s forwards; 
    //                 }
    //             }
    //             .kng-btn-text{
    //                 opacity: 1;
    //                 visibility: visible;
    //             }
    //         }
    //     }
    // }
    &.post_format-post-format-link,
    &.kng-no-post-thumbnail{
        .kng-post-readmore{
            display: none;
        }
    }
    &.post_format-post-format-link{
        .kng-post-content{
            @include d-flex();
        }
        .kng-post-meta{
            display: block;
            width: 100%;
            margin-bottom: 25px;
        }
        .kng-post-title{
            order: -1;
            margin-bottom: 15px;
        }
        .kng-post-excerpt{
            display: none;
        }
        .kng-meta-bottom{
            margin-bottom: 0;
            padding-top: 12px;
            padding-bottom: 12px;
        }
    }
    &.post_format-post-format-link.kng-has-post-thumbnail{
        color: $white;
        .kng-post-content{
            background-color: #{'rgba(var(--second-color-rgb),0.9)'};
            @media (max-width:$sm_max){
                padding: 30px 30px 0 30px;
            }
            @media (max-width:$xs_screen){
                padding: 30px 30px 0 30px;
            }
        }
        .kng-post-title{
            color: $white;
        }
        .kng-meta-bottom{
            border-top: 2px solid rgba(#ffffff,0.15);
        }
    }
    .kng-featured.kng-post-video iframe{
        width: 100%;
        height: auto;
    }
}
.single-post,
.single-case,
.single-practice{
    .kng-post-content{
        .elementor-column-gap-default{
            margin-left: -15px !important;
            margin-right: -15px !important;
        }
    }
}

.single-post{
    .content-wrap{        
        .content-inner{
            box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.13);
            padding: 0 34px;
            @media (max-width: $sm_max){
                padding: 0 25px;
            }
            @media (max-width: $xs_max){
                padding: 0 15px;
            }
        }
    }
    .kng-single-post-wrap{
        // padding: 30px;
        // @include box-shadow(10px 0 60px #{'rgba(var(--second-color-rgb),0.06)'});
        @media (max-width: $xl_max){
            padding: 0 30px;
        }
        @media (max-width: $lg_max){
            padding: 0 15px;
        }
        @media (max-width: $xs_max){
            padding: 0;
            @include box-shadow(none);
        }
    }
    .kng-post-has-thumbnail .kng-featured{
        // margin: -30px -30px 0px -30px;
        // @media (max-width: $xl_max){
        //     margin: -30px -30px 30px -30px;
        // }
        // @media (max-width: $lg_max){
        //     margin: -30px -15px 30px -15px;
        // }
        // @media (max-width: $xs_max){
        //     margin: 0 0 30px 0;
        // }
    }
    .kng-post-meta{
        padding-top: 35px;
        margin-bottom: 16px;
        font-size: 14px;
        position: relative;
        // font-weight: 500;
        .kng-post-author{
            text-transform: capitalize; 
        }
        @media (max-width: $sm_max){
            .kng-post-share{
                display: none;
            }
        }
        @media (max-width: $xs_max){
            .kng-post-cmt,
            .kng-post-share{
                display: none;
            }
        }
        .kng-post-cat{
            position: absolute;
            right: 20px;
            top: -15px;
            background-color: $primary_color;
            color: white;
            // font-weight: 600;
            font-size: 14px;
            font-family: 'poppins';
            a{
                &:hover{
                    color: white;
                }
            }
        }
    }
    .kng-post-meta-inner{
        &.row{
            margin-left: -20px;
            margin-right: -20px;
            @media (max-width: $sm_max){
                margin-left: -10px;
                margin-right: -10px;
            }
            >*{
                padding-left: 20px;
                padding-right: 20px;
                @media (max-width: $sm_max){
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
        > span{
            a{
                color: inherit;
                &:hover{
                    color: $link_color_hover;
                }
            }
        }
        
        .meta-icon{
            margin-right: 2px;
            color: $primary_color;
        }
        .kng-meta-separator{
            display: none;
        }
    }  
    .kng-post-title{
        margin-bottom: 18px;
        font-size: 30px;
        font-weight: 600;
        @media (max-width: $sm_max){
            font-size: 24px;
        }
        @media (max-width: $xs_max){
            font-size: 20px;
        }
    }
    
}
.st-logo {
    display: none;
    visibility: hidden;
    opacity: 0;
}
.sticky {
    display: block;
}

.updated:not(.published) {
    display: none;
}

 
.kng-post-title{
    margin-top: 0;
    font-weight: 500;
    margin-bottom: 30px;
    > a > span{
        font-size: 22px;
    }
}
.kng-featured{
    .kng-post-image.background img{
        visibility: hidden;
        opacity: 0;
    }
}
.redux-page .kng-featured img{
    width: 100%;
}

.kng-post-image{
    a{
        overflow: hidden;
        display: block;
        padding: 0;
        will-change: opacity;
        position: relative;
    }
}
// .redux-page .kng-post-image a{
//     img{
//         @include transform(scale(1,1));
//         backface-visibility: hidden;
//         transform-origin: center center;
//         object-fit: cover;
//         object-position: center;
//         transform-origin: center center;
//         @include transition(all .45s linear);
//     }
//     &:hover{
//         img{
//             @include transform(scale(1.05,1.05));
//         }
//     }
// }
   
.post-date{
    font-weight: 300;
}

.entry-content-bottom{

}
.entry-social-share{
    margin-top: 80px;
    ul{
        @include d-flex();
        margin: 0 -15px;
        li{ 
            padding: 0 15px;
        }
    }
}
 
  
.single-post .kng-post-tags-share{
    margin-top: 28px;
    .kng-post-tags,
    .kng-post-share{
        margin-bottom: 10px;
    }
    .tagcloud {
        margin: -5px;
        >*{
            margin: 5px;
        }
        >span{
            color: $heading_color;
            font-family: $heading_font_family;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 30px;
        }
        > a{
            font-size: 14px;
            line-height: 30px;
            font-weight: 600;
            text-transform: capitalize;
            padding: 4px 15px;
            color: $body_color;
            background-color: transparent;
            border: 1px solid rgb(221, 221, 221);
            border-radius: 5px;
            &:hover{
                background-color: $primary_color;
                color: #fff;
                border-color: $primary_color;
            }
            &:after{
                display: none;
            }
             
        }
    }
    .kng-post-share{
        .text-heading{
            color: $heading_color;
            font-family: $heading_font_family;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 30px;
        }
        .kng-social{
            font-size: 16px;
            a{
                color: $body_color;
                &:hover{
                    color: $primary_color;
                }
            }
        } 
    } 
}
 
// .kng-single-post-inner{
//     // padding-bottom: 40px;
//     // border-bottom: 1px solid $border_color;
// } 
.entry-author-info{
    background-color: #f2f2f2;
    padding: 40px 40px 28px 40px;
    margin-top: 60px;
    margin-bottom: 112px;
    @media (max-width: $xs_max){
        padding: 30px 15px 30px
    }
    .kng-post-author-title{
        font-size: 22px;
        font-weight: 700;
        color: $heading_color;
        font-family: $heading_font_family;
        margin-bottom: 7px;
    }
    .kng-post-author-description{
        font-size: 17px;
        line-height: 32px; 
    }
    .kng-socials{
        margin-top: 8px;
    }
}

 
.kng-single-related-recent-post{
    border-top: 1px solid $border_color;
    padding-top: 64px;
    margin-top: 96px;
    padding-bottom: 14px;
    @media (max-width:$lg_max){
        margin-top: 30px;
    }
}
.kng-related-post + .kng-recent-post{
    margin-top: 64px;
}
.kng-related-post,
.kng-recent-post{
    font-size: 14px;
    line-height: 17px;
    .grid-item{
        padding-bottom: 30px;
        margin-bottom: 20px;
    }
    .kng-heading{
        font-size: 40px; 
        line-height: 1.3;
        font-weight: 400;
        text-align: center;
        margin-bottom: 40px;
    }
    .kng-featured{
        margin-bottom: 20px;
    }
    .item-title{
        margin: 0;
    }
    .item-meta{
        margin-top: 18px;
    }
    .kng-meta-bottom{
        .m-item{

        }
    }
    .kng-svg{
        margin-right: 6px;
    }
    .lbl{
        color: $gray;
        margin-right: 5px;
    }
}

  

.navigation,
.woocommerce-pagination{
	@include d-flex();
	margin: -3px;
    padding-top: 60px;
    width: 100%;
	&:empty{
		display: none;
	}
	.page-numbers,
	.post-page-numbers{
		flex: 0 0 auto;
		margin: 3px;
		display: inline-block;
		vertical-align: top;
		text-align: center;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        letter-spacing: 1px;
        width: 45px;
        height: 45px;
        line-height: 43px;
        display: inline-block;
        border: 1px solid #{'rgba(var(--second-color-rgb),0.07)'};
        color: $link_color;
        @include border-radius(45px);
          
		&.dots{
			line-height: 30px;
		}
		&:hover,
		&.current{
			border-color: $primary_color;
			background: $primary_color;
			color: $white;
		}
	}
	.next,.prev{
        color: $second_color;
        &:hover,
        &.current{
            border-color: $primary_color;
            background: $primary_color;
            color: $white;
        }
        span{
            font-weight: 700;
        }
    }   
	&.kng-page-links{
		justify-content: start;
	}
}
.comment-list-wrap{
	.navigation{
		justify-content: flex-end;
	}
}
.navigation.kng-page-links{
    margin-top: 26px;
    margin-bottom: 20px;
}
.entry-author-info{
    position: relative;
    &:after{
        content: "";
        position: absolute;
        left: 0;
        bottom: -61px;
        right: 0;
        width: 100%;
        height: 1px;
        background-color: $border_color
    }
}
     
// Single post next/preview
.kng-single-next-prev-navigation{
    margin-top: 56px;
    padding-bottom: 55px;
    position: relative;
    &:after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 15px;
        right: 15px;
        height: 1px;
        background-color: $border_color;
    }
	.kng-single-nav-inner {
		display: inline-block;
		position: relative;
		> a{
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 2;
		}
		&:hover{
			.kng-nav-label {
				color: $primary_color;
			}
			.kng-nav-icon{
				color: $primary_color;
				border-color: $primary_color;
			}
            .kng-nav-title {
                color: $link_color_hover;
            }
		} 
	}
    .kng-single-next-prev-separate{
        width: 80px;
        padding: 0 40px;
    }
	.kng-nav-icon{
        width: 48px;
        height: 48px;
        border: 1px solid rgba(#828282,0.2);
        box-sizing: border-box;
        border-radius: 99px;
        text-align: center;
        display: block;
        line-height: 44px;
        font-size: 14px;
        @include transition();
        @media (max-width: $sm_max){
			width: 32px;
        	height: 32px;
        	line-height: 30px;
		}
    } 
	.kng-nav-label {
        display: none;
		font-family: $heading_font_family;
		font-style: normal;
		font-weight: normal;
		font-size: 32px;
		line-height: 44px;
		color: $heading_color;
		@include transition();
		@media (max-width: $sm_max){
			font-size: 24px;
			line-height: 1.5;
            display: block;
		}
		@media (max-width: $xs_max){
			font-size: 20px;
		}
	}
	.kng-nav-title {
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 25px;
        font-family: $heading_font_family;
        @include text-truncate-multi-line($font-size: 18px, $line-height: 1.38888888889, $lines-to-show: 2 );
        color: $heading_color;
		@media (max-width: $sm_max){
			display: none;
		}
	}
    .post-nav-date{
        font-size: 14px;
        line-height: 25px;
        font-weight: 500;
        text-transform: uppercase;
        margin-top: 4px;
        [class^="kngi-"]{
            margin-right: 5px;
        }
    }
    .kng-single-next .post-nav-date{
        [class^="kngi-"]{
            margin-right: 0;
            margin-left: 5px;
        }
    }
	.post-image{
		overflow: hidden;
		position: relative;
		width: 75px;
		&:before,
		&:after{
			position: absolute;
			@include transition();
		}
		&:before{
			content: '';
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: $primary_color;
			@include scale(0);
			@include opacity(0.9);
		}
		&:after{
			top: 50%;
			left: 50%;
			color: $white;
			@include transform(scale(0) translate(-50%, -50%));
		}
	}
	.kng-single-next .post-image{
		&:after{
			@include font-kngi("\e91f");
		}
	}
	.kng-single-prev .post-image{
		&:after{
			@include font-kngi("\e91e");
		}
	}
	.kng-single-next-prev:hover{
		.post-image{
			&:before{
				@include scale(1);
			}
			&:after{
				@include transform(scale(1) translate(-50%, -50%));
			}
		}
	}
}



body.error404{
    #kng-header{
        @include box-shadow(none);
    }
    .kng-main{
        padding-top: 160px;
        padding-bottom: 80px;
        text-align: center;
        @media (max-width:$lg_max){
            padding-top: 100px;
        }
    }
}
.kng-404-page{
	.kng-404-img{
		margin-bottom: 76px;
		img{
			@media (max-width:$sm_max){
				max-width: 80%;
			}
		}
	}
	.kng-404-heading{
		letter-spacing: 0;
	}
	 
	.bottom-wrap{
		>div{
            margin-top: 24px;
        }
	}
}

.kng-case-grid{
    .kng-grid-item{
        margin-bottom: 45px;
    }
    .kng-featured-wrap{
        margin-bottom: 30px;
        .kng-overlay{
            background-color: #{'rgba(var(--second-color-rgb),0.65)'}; 
            opacity: 0;
            visibility: hidden;
        }
        .kng-readmore{
            position: absolute;
            bottom: 20px;
            right: 20px;
            opacity: 0;
            visibility: hidden;
            @include transform(translateY(-10px));
            .kng-btn-content{
                width: 50px;
                height: 50px;
                line-height: 50px;
                background-color: $primary_color;
                display: inline-block;
                text-align: center;
                color: $white;
                @include transition(all .3s ease);
                &:hover{
                    background-color: $white;
                    color: $primary_color;
                }
            }
        }
         
        &:hover{
            .kng-readmore{
                opacity: 1;
                visibility: visible;
                @include transform(translateY(0));
            }
            .kng-overlay{
                opacity: 1;
                visibility: visible;
            }
        }
    }
    .kng-item-content-inner{
        .kng-heading{
            margin-bottom: 3px;
            letter-spacing: -0.03em;
        }
    }
}

.kng-single-case-wrap{
    .kng-post-title{
        font-size: 35px;
        margin-top: 38px;
        margin-bottom: 13px;
    }   
}

.kng-single-practice-wrap{
    border: 1px solid rgba(22, 37, 66, 0.102);
    .feature-img{
        img{
            width: 100%;
        }
    }
    .feature-img + .kng-post-title{
        margin-top: 37px;
    }
    .kng-post-title{
        font-size: 42px;
        line-height: 1.30952380952;
        margin-bottom: 0;
        font-weight: 700;
        padding: 0 60px;
        @media (max-width: $xl_max){
            padding: 0 40px;
        }
        @media (max-width: $xs_max){
            padding: 0 15px;
        }
    }
    .kng-post-content{
        padding: 0 60px 50px;
        @media (max-width: $xl_max){
            padding: 0 40px 50px;
        }
        @media (max-width: $xs_max){
            padding: 0 15px 40px;
        }
    }
    .feature-img + .kng-post-content{
        padding-top: 40px;
    }
    .kng-post-title + .kng-post-content{
        padding: 16px 60px 50px;
        @media (max-width: $xl_max){
            padding: 16px 40px 50px;
        }
        @media (max-width: $xs_max){
            padding: 16px 15px 40px;
        }
    }
}